<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Green Points</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma.min.css')}}"/>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo_no_text.png') }}"/>
  </head>
  <body>
    <div id="app">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="http://localhost:8081">
                <img src="{{ url_for('static', filename='logo_no_text.png') }}" alt="Green Points Logo" height="100%" width="100%">
            </a>
            <a class="navbar-item" href="http://localhost:8081">
                <p>Green Points</p>
            </a>
            
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
      
          <div class="navbar-end">
            <div class="navbar-item">
                <a class="navbar-item" href="http://localhost:8081">
                    Select Image
                  </a>
            
                  <a class="navbar-item" href="http://localhost:8081/records">  
                    Records
                  </a>
            </div>
          </div>
        </div>
      </nav>
      <div style="display: flex; align-items: center; justify-content: center; padding-top: 50px;">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Green Points Logo" height="20%" width="20%" style="margin-bottom: 20px;">
      </div>
      
      <form
        id="image-form"
        action="{{ url_for('post_images') }}"
        method="POST"
        enctype="multipart/form-data"
      >
        <label for="images">Select an image</label>
        <input
          type="file"
          id="image-upload"
          name="images"
          accept="image/*"
          v-on:change="displayImage($event)"
          required
        />
        <button class="button submit" onclick="showModal()">Process Images</button>
        
        <div class="modal" id="myModal2">
          <div class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">Checking image</p>
              <div class="loader" id="loader"></div>
            </header>
            <section class="modal-card-body">
              <div style="display: flex; justify-content: center;">
                <img
                  id="selected-image"
                  src="#"
                  alt="Selected Image"
                  style="display: none;"
                />
              </div>
            </section>
          </div>
        </div>
      </form>

      <ul id="output-list">
        {% for item in result %}
        <li>
          <!-- <img src="data:output_image/png;base64, {{ item.output_image }}" alt="img" data-toggle="modal" data-target="#exampleModalCenter"/> -->
          {% if item.found %}
          <div class="modal is-active" id="myModal" @keydown.esc="closeModal" @mousedown.self="closeModal">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title">Thank you for recycling!</p>
                <button class="delete" aria-label="close" @click="closeModal"></button>
              </header>
              <section class="modal-card-body">
                <p>Scan to collect point</p>
                <img src="data:qrcode/png;base64, {{ item.qrcode }}" alt="QRcode" style="height: 80%; width: 80%;"/>
                <p>Found : {{item.label}}</p>
              </section>
              <footer class="modal-card-foot" style="justify-content: end;">
                <p style="margin-right: 5px;">Remaining time: <span id="timeout"></span> seconds</p>
                <button class="button" @click="closeModal">Close</button>
              </footer>
            </div>
          </div>
          {% else %}
          <div class="modal is-active" id="myModal" @keydown.esc="closeModal" @mousedown.self="closeModal">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title">Your Recycling Can't Be Processed</p>
                <button class="delete" aria-label="close" @click="closeModal"></button>
              </header>
              <section class="modal-card-body has-text-centered">
                <div class="content">
                  <p class="is-size-5">Sorry, the image you've uploaded is currently not supported for processing Please try a different image.</p>
                </div>
                <div class="content">
                  <figure class="image" style="width: 80%; display: inline-block;">
                    <img src="static/giphy.gif" alt="Unrecyclable Image Example">
                  </figure>
                </div>
              </section>
              
              <footer class="modal-card-foot" style="justify-content: end;">
                <p style="margin-right: 5px;">Remaining time: <span id="timeout"></span> seconds</p>
                <button class="button" @click="closeModal">Close</button>
              </footer>
            </div>
          </div>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
  </div>
  </body>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script>
    function showModal() {
      var fileInput = document.getElementById("image-upload");
      var selectedImage = document.getElementById("selected-image");
      if (fileInput.files.length > 0) {
        selectedImage.src = URL.createObjectURL(fileInput.files[0]);
        document.getElementById("myModal2").classList.add('is-active');
      }
    }
  </script>
</html>
