<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Processing</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

  </head>
  <body>
    <div id="app">
    <h1>Your Result Here</h1>
    <form
      action="{{ url_for('post_images') }}"
      method="POST"
      enctype="multipart/form-data"
    >
      <label for="images">Select an image:</label>
      <input
  type="file"
  id="image-upload"
  name="images"
  accept="image/*"
  v-on:change="displayImage($event)"
  required
/>
      <!-- <input type="file" name="images" accept="image/*" multiple /> -->
      <button type="submit" id="process-btn">Process Images</button>
<div class="loader" id="loader" style="display: none"></div>
    </form>
    <img
      id="selected-image"
      src="#"
      alt="Selected Image"
      style="display: none"
    />

    <ul id="output-list">
      {% for item in result %}
      <li>
        <img src="data:output_image/png;base64, {{ item.output_image }}" alt="img" />
        <p>{{item.label}}</p>
        <!-- if found == true display image -->
        {% if item.found %}
        <p>You recycle. You save the world. Scan to collect point.</p>
        <img src="data:qrcode/png;base64, {{ item.qrcode }}" alt="QRcode" />
        {% else %}
        <p>You so bad.</p>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
  </body>
  <script src="{{ url_for('static', filename='script.js') }}"></script>

</html>
