<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Records</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma.min.css')}}"/>

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo_no_text.png') }}"/>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom_styles_recordspage.css')}}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@500;700&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation" style="position: sticky; top: 0; font-family: 'DynaPuff', cursive;">
        <div class="navbar-brand">
            <a class="navbar-item" href="http://localhost:8081">
                <img src="{{ url_for('static', filename='logo_no_text.png') }}" alt="Green Points Logo" height="100%" width="100%">
            </a>
            <a class="navbar-item" href="http://localhost:8081">
                <p>Green Points</p>
            </a>
        </div>
        <div class="navbar-brand" style="display: flex; margin-left: auto;"> 
          <a class="navbar-item" href="http://localhost:8081">
            Select Image
          </a>
          <a class="navbar-item" href="http://localhost:8081/records">
            Records
          </a>
        </div>
    </nav>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-4">
                    <div class="field">
                        <label class="label" for="object">Select Object:</label>
                        <div class="control">
                            <div class="select">
                                <select name="object" id="object">
                                    <option value="">All</option>
                                    <option value="can">Can</option>
                                    <option value="bottle">Bottle</option>
                                    <option value="cup">Cup</option>
                                    <option value="paper">Paper</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if records %}
                {% if not data %}
                    <div class="notification is-info">
                        <button class="delete" href="http://localhost:8081"></button>
                        <strong>No data.</strong>
                    </div>
                {% else %}
                <div class="table-container">
                    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                        <thead>
                            <tr>
                                <!-- <th>ID</th> -->
                                <th>Objects</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for record in records %}
                            <tr>
                                <!-- <td>{{ record[0] }}</td> -->
                                <td>{% for item in record[1].items() %}
                                    {{ item[0] }} x {{ item[1] }}<br>
                                    {% endfor %}
                                </td>
                                <td>{{ record[2] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            {% else %}
                <div class="notification is-danger">
                    <button class="delete" href="http://localhost:8081"></button>
                    <strong>Something when wrong</strong><br>
                    Please try again later.
                </div>
            {% endif %}
        </div>
    </section>

    <script>
        document.getElementById("object").addEventListener("change", function () {
            const filter = this.value.toLowerCase();
            console.log(filter)
            const table = document.querySelector("table");
            const rows = table.querySelectorAll("tbody tr");

            rows.forEach(row => {
                const cell = row.querySelector("td:nth-child(1)").textContent.toLowerCase();
                if (filter === "" || cell.includes(filter)) {
                    row.style.display = "";
                } else {
                    row.style.display = "none";
                }
            });
        });
    </script>
</body>
</html>



