body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e5eeff;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin: 2rem 0;
  color: #1f3a68;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

input[type="file"] {
  margin: 1rem 0;
  padding: 0.5rem;
  border: 2px solid #1f3a68;
  border-radius: 0.5rem;
  background-color: white;
  font-size: 1.2rem;
  cursor: pointer;
  color: #1f3a68;
}

button[type="submit"] {
  margin: 1rem 0;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #1f3a68;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #2c5282;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 2rem 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  margin: 1rem;
  border: 2px solid #1f3a68;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px #1f3a68;
}

li {
  text-align: center;
  font-size: 1.2rem;
  margin: 0.5rem;
  color: #1f3a68;
}
p {
  border: 2px solid #1f3a68;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: white;
  color: #1f3a68;
}
.loader {
  border: 6px solid rgba(0, 0, 0, 0.1);
  border-top: 6px solid #1f3a68;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#process-btn {
  position: relative;
}

#process-btn:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border: 3px solid #fff;
  border-top-color: #1f3a68;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#process-btn.loading:after {
  opacity: 1;
}
